<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ZonePlayerWpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <userSettings>
    <ZonePlayerWpf.Properties.Settings>
      <setting name="AudioDevices" serializeAs="String">
        <value>["Device1", "Device2", "Device3", "Device4", "Device5", "Device6", "Device7", "Device8"]</value>
      </setting>
      <setting name="DefaultPlaylists" serializeAs="String">
        <value>{"Internet Vlaams":".\\SamplePlaylists\\internetvlaams.asx","Internet Themes":".\\SamplePlaylists\\internetthemes.asx"}</value>
      </setting>
      <setting name="ZoneNames" serializeAs="String">
        <value> ["Zone1", "Zone2", "Zone3", "Zone4", "Zone5", "Zone6", "Zone7", "Zone8"]</value>
      </setting>
      <setting name="VlcSettings" serializeAs="String">
        <value>{"DllPath":"C:\\Program Files (x86)\\VideoLAN\\VLC","PluginPath":"C:\\Program Files (x86)\\VideoLAN\\VLC\\plugins","StartupIgnoreConfig":"true","StartupLogInFile":"true","StartupShowLoggerConsole":"true","StartupVerbosity":"2"}</value>
      </setting>
      <setting name="VolumeControl" serializeAs="String">
        <value />
      </setting>
      <setting name="ShowVideo" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RemoteAddress" serializeAs="String">
        <value>http://localhost:8087/remote</value>
      </setting>
      <setting name="VolumeDelta" serializeAs="String">
        <value>10</value>
      </setting>
    </ZonePlayerWpf.Properties.Settings>
  </userSettings>
</configuration>
