<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZonePlayerWpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <ZonePlayerWpf.Properties.Settings>
      <setting name="NumberOfZones" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="AudioDevices" serializeAs="String">
        <value>["Device1", "Device2", "Device3"]</value>
      </setting>
      <setting name="DefaultPlaylists" serializeAs="String">
        <value>{"Satellite":"C:\\Users\\ronnybj\\OneDrive\\Playlists\\satellite.asx","Internet":"C:\\Users\\ronnybj\\OneDrive\\Playlists\\internet.asx","Playlists":"C:\\Users\\ronnybj\\OneDrive\\Playlists\\playlists.asx"}</value>
      </setting>
      <setting name="ZoneNames" serializeAs="String">
        <value> ["Zone1", "Zone2", "Zone3"]</value>
      </setting>
      <setting name="VlcSettings" serializeAs="String">
        <value>{"DllPath":"C:\\Program Files (x86)\\VideoLAN\\VLC","PluginPath":"C:\\Program Files (x86)\\VideoLAN\\VLC\\plugins","StartupIgnoreConfig":"true","StartupLogInFile":"true","StartupShowLoggerConsole":"true","StartupVerbosity":"2"}</value>
      </setting>
      <setting name="VolumeControl" serializeAs="String">
        <value />
      </setting>
      <setting name="ShowVideo" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NumberOfPlayers" serializeAs="String">
        <value>3</value>
      </setting>
    </ZonePlayerWpf.Properties.Settings>
  </userSettings>
</configuration>
